.notes{
    width: 50px;
    height: 50px;
    background-color: orange;
    position: fixed;
    border-radius: 50%;
}
.wpl-notes .wpl-icons{
    font-size: 20px;
    padding: 10px 10px 0;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}
.wpl-notes .wpl-count{
    border-radius: 50%;
    font-size: 13px;
    padding: 2px;
    font-weight: bold;
    position: relative;
    top: -30px;
    right: -15px;
    width: 14px;
    height: 14px;
    text-align: -webkit-center;
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50%;
    /*display: block;*/
}
.wpl-count{
    display: none;
}
.wpl-notes .show-all-notes{
    width: 250px;
    min-height: 100px;
    height: auto;
    background-color: #00a0d2;
    position: absolute;
    display: none;
}
.wpl-notes a{
    text-decoration: none;
}
.wpl_content
#triangle-down {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 4px solid transparent;
    border-top: 15px solid #00a0d2;
    position: absolute;
    bottom: 48px;
    display: none;
    right: 21px;
}

.wpl-comment-item  i,.wpl-replay-item   i{
    color: aliceblue;
    vertical-align: middle;
    font-size: 1.8em;
    margin: 0 5px;
}
.wpl-replay-item,.wpl-comment-item {
    width: inherit;
    padding: 5px;
    text-align: justify;
}
.wpl-replay-item a,.wpl-comment-item a {
    display: block;
}
.wpl-replay-item  span , .wpl-comment-item  span {
    color: aliceblue;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    font-size: 13px;
}

.wplive_front_bar {
    z-index: 2000;
    width: 50px;
    height: auto;
    top: 10vh;
    right: 0;
    position: fixed;
    border-bottom-left-radius: 15px;
}

.wplive-button{
    position: fixed;
    cursor: pointer;
}
.showbtn{
    right: 10px;
    bottom: 15px;
    padding: 0 11px;
    border-radius: 50%;
    height: 40px;
    font-size: 20px;
}
.hidebtn{
    right: 40px;
    bottom: 30px;
    width: 20px;
    padding: 0;
    font-size: 20px;
}
.wpl-notes{
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 55px;
    padding: 5px 0;
}
.wpl-notes:last-of-type  {
    border-bottom-left-radius: 15px;
}
.wpl-notes p{
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    width: 320px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wpl-disabled{
    opacity: 0.5;
}
.wpl_viewcount{
    font-size: 16px;
}
.wpl_viewcount span{
    margin-right: 10px;
}
.wpl_content{
    min-height: 280px;
    width: 340px;
    height: auto;
    position: absolute;
    right: 50px;
    top: 0;

}

.wpl-item:hover{
    background-color: #00a0d2;
}
.wpl_content{
    display: none;
}
.wpl-notes:hover  .wpl_content,.wpl-notes:hover  #wpl_users_content,#wpl_users_content:hover, .wpl_content:hover{
    display: block;
}
.wpl_popup{
    width: 250px;
    max-height: 150px;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.73);
    position: fixed;
    border-radius: 5%;
    z-index: 99999999999999999;
}
.wpl_popup i{
    font-size: 20px;
    margin: 5px 5px 0 0;
    float: left;
}
.wpl_popup .wpl-comment-text{
    font-weight: bold;
}
.wpl_popup_content span:hover{
    text-decoration: underline;
}
.new-post{
    font-size: 14px;
    overflow: hidden;
    width: 200px;
    display: inline-block;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    height: 50px;
}

.count-all{
    background-color: red;
    position: relative;
    left: 12px;
    color: white;
    top: 0;
    font-size: 13px;
    font-family: initial;
    padding: 0;
    line-height: 1.5;
    border-radius: 50%;
    font-weight: bold;
    right: -35px;
    width: 18px;
    height: 18px;
    text-align: -webkit-center;
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50%;
    display: block;
}
.wplive-button i{
    position: relative;
    left: 0;
    font-size: 20px;
    top: -5px;
}
.wplive-button .fa-angle-double-right{
    top: 0;
    box-sizing: border-box;
    padding: 0 0 0 2px;
}
#wpl_content_comment, #wpl_users_content, #wpl_new_users_content{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.wplive_form{
    background-color: rgba(229, 229, 229, 0.42);
    min-height: 300px;
    height: auto;
}
.live_content{
    padding: 5px;
    border-top: 1px solid #0c08d0;
}
tr, th, td{
    border: 1px solid white;

}
.options_tab{
    padding: 15px;
}
.admin_menu{
    margin: 0;
}
.admin_menu li{
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    line-height: 1;
    border-color: rgb(193, 193, 193);
    background-color: rgb(249, 249, 249);
}
.admin_menu .active_tab {
    border: 1px solid #0c08d0 !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #0c08d0 !important;
    border-bottom: 0px #fff solid !important;
    background-color: white;
}
.wpl-info{
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    width: 95%;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    margin-top: 5px;
}

.notes{
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
    border-radius: 50%;
}
.wpl-bell{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.wpl-note-count{
    background-color: orange;
    border-radius: 50%;
    font-size: 14px;
    padding: 3px;
    font-weight: bold;
    color: black;
    position: relative;
    top: -20px;
    right: 5px;
}
#map_loadding{
    position: relative;
    left: 460px;
    top: 50px;
    width: 250px;
    height: 250px;
}

/* Let's get this party started */
.wpl_content::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.wpl_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgb(147, 147, 147);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.wpl_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(131, 131, 131);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
}
.wpl_content::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(131, 131, 131);
}